@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
<ul class="list-group">
    <li class="list-group-item bg-warning">
        We are not going to really take an order here.
        After all, this is a college project. We are not going
        to take credit card information and all that.
        But I do appreciate you taking it all the way to here, Have a good day!
    </li>
</ul>