<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@* this is the layout that's created by default by the MVC template, minus the footer and script tags *@
<body>
    <div class="container">
        <header class="bg-primary text-white text-center">
            <h1 class="m-3 p-3">My Tickets</h1>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>

</body>
</html>
