@model Bean

<div class="text-center">
    <h1>Our Staff Pick!</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading list-group-item-success">
            <h5>
                <a asp-controller="Bean"
                   asp-action="Details"
                   asp-route-id="@Model.BeanId"
                   asp-route-slug="@Model.Name.Slug()">
                    @Model.Name
                </a>
            </h5>
        </li>
    </ul>
    <h1>Welcome to Creme Coffee Club.</h1>
    <h3>You can search through the beans by origin or Country, sign in as a user or admin and add items to your cart.</h3>
    <h2>Thank you for visiting!</h2>
</div>