@model Ticket

@{
    ViewData["Title"] = "Delete Ticket";
}

<h1 class="display-4">Delete Ticket</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        <h4>@Model?.Name @Model?.sprint</h4>
    </li>
    <li class="list-group-item">
        Status: @Model?.Status.Name
    </li>
    <li class="list-group-item">
        Day and Time: @Model?.Day.Name @Model?.MilitaryTime
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TicketId" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="Home" asp-route-id="@ViewBag.DayId"
       class="btn btn-outline-dark">Cancel</a>
</form>
