@model IEnumerable<Status>

@{
    ViewData["Title"] = "Status";
}

<div class="text-center">
    <h1 class="display-4">Statuses</h1>
</div>

<a asp-action="Add" class="ml-3">Add Status</a>

<table class="table">
    <thead>
        <tr><th>Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Status status in Model)
        {
            <tr>
                <td>@status.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@status.StatusId"
                       class="btn btn-outline-dark">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

