@model Origin

@{
    ViewData["Title"] = " | Origin";
}

<h1>Author</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-dark">
            <th>@Model.FullName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var ba in Model.CoffeeOrigins)
                {
                    <p>
                        <a asp-action="Details" asp-controller="Bean"
                           asp-route-id="@ba.BeanId"
                           asp-route-slug="@ba.Bean.Name.Slug()">
                            @ba.Bean.Name
                        </a>
                    </p>
                }
            </td>
        </tr>
    </tbody>
</table>